$text-color:#fff0dc;
$background-color:#b0ad8b;
$menu-background-color:#34622f;
$content-link-color:#afdbd9;
$content-background-color:#222;
$content-important-background-color:$menu-background-color;
$logo-background-color:#950b1b;

$border-radius:8px;
$grid-size:30px;
$p-margin-size:20px;
$inverse-text-color:#E7EBD4;

::-moz-selection { 
    background: lighten($logo-background-color, 10%);
}

::selection {
background: lighten($logo-background-color, 10%);
}

.label { background:none;}

/* body and basics */
body, p, ul, ol, td { 
    font-size:105%;
}
body {
    font-size:110%;
    color:$text-color;
    line-height:150%;
    min-width:320px;
    margin:0;
    margin-top:$grid-size;
    background:$background-color url('../images/wall.jpg');

    @media (min-width:1200px) {
        .container>.row-main {
            min-width: 1100px;
        }
    }

    @media (min-width:1100px) and (max-width:1150px) {
        font-size:100%;
        .container>.row-main .large-10 {
            max-width:84%;             
        }
    }

    @media (max-width:800px) {
        font-size:100%;
        padding:5px;
        .container>.row-main .columns {
            padding-left:0;
            padding-right:0;
        }
    }

}
h1, h2, h3, h4 { color:$text-color; font-family:"Exo 2", Helvetica,Geneva,Arial,default-sans; font-weight:bold; }
h2 { font-size: 130%; border-bottom:2px dotted #666; }
h3 { font-size: 100%; }
h4 {
    font-size:100%;
    color:#fc3;
    border-bottom:1px solid #fc3;
}

.center {
    text-align:center;
}
p, li {
    font-size:99%;
    line-height:150%;
}
p {
    margin-top:$p-margin-size;
    margin-bottom:$p-margin-size;
    text-shadow: 0px 0px 3px #000;
}
pre {
    background:white;
    color:black;
    border-radius:$border-radius;
    padding:$grid-size;
    font-size:80%;
    line-height:110%;
}

/* main content container */
.container {
    .content {

        .section-image small {
            position: absolute;
            bottom:-1px;
            line-height:25px;
            height:26px;
            display: block;
            background: rgba(40, 40, 40, 0);
            font-weight: bold;
            width: 100%;
            padding: 0 10px;
            border-bottom-left-radius:$border-radius;
            border-bottom-right-radius:$border-radius;
            text-align:left;
            transition:background .2s linear;
        }
        .section-image:hover {
            small { background: $menu-background-color; opacity:.8; }
        }

        section {
            margin-bottom:$p-margin-size;
        }
        img.image {
            background:lighten($content-background-color, 10%);
            border-radius:$border-radius;
            -moz-animation-name: imgLoad;
            -moz-animation-iteration-count: 1;
            -moz-animation-timing-function: ease-in;
            -moz-animation-duration: 0.3s;

            -webkit-animation-name: imgLoad;
            -webkit-animation-iteration-count: 1;
            -webkit-animation-timing-function: ease-in;
            -webkit-animation-duration: 0.3s;

            animation-name: imgLoad;
            animation-iteration-count: 1;
            animation-timing-function: ease-in;
            animation-duration: 0.3s;
        }
        .image-list {
            &>div { position:relative; }
            .link-nav {
                position:absolute;
                width:100%;
                height:50%;
                top:25%;
            }
            .photo-link {
                display:block;
                width:40px;
                height:100%;
                line-height:100px;
                background:$menu-background-color;
                z-index:200;
                color:$text-color;
                text-shadow: 0 1px 0 #444;
                opacity:.8;
                font-size:30px;
                text-decoration:none;
                padding: 0 10px;
                transition:background .3s ease-out;
                &:before {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                }
                &:hover,&:active {
                    color:#fff;
                    background:lighten($menu-background-color, 10%);
                }

                &.next {
                    float:right;
                    border-top-left-radius:$border-radius;
                    border-bottom-left-radius:$border-radius;
                }
                &.prev {
                    float:left;
                    border-top-right-radius:$border-radius;
                    border-bottom-right-radius:$border-radius;
                }
                &.loading {
                    background:none;
                    left:50%;
                }
            }
        }
        border-top:3px solid $menu-background-color;
        border-bottom:3px solid $menu-background-color;
        background:$content-background-color;
        min-height:500px;
        padding:$grid-size;
        a {
            color: $content-link-color;
            text-decoration:underline;
        }
        .small {
            font-size:85%;
        }
        .news {
            margin-bottom:$grid-size / 2;
        }
        table.entry {
            margin:$grid-size auto;
            td, th {
                padding:$grid-size / 2;
                border:1px solid #999;
                font-weight: 300;
            }
            th {
                text-align:left;
            }
            td {
                text-align: center;
                font-weight: bold;
            }
        }
    }
}

@-moz-keyframes imgLoad {
    0% {
        opacity:0;
    }
    30% {
        opacity:1;
    }
    35% {
        opacity:.3;
    }
    100% {
        opacity:1;
    }
}
@-webkit-keyframes imgLoad {
    0% {
        opacity:0;
    }
    30% {
        opacity:1;
    }
    35% {
        opacity:.3;
    }
    100% {
        opacity:1;
    }
}
@keyframes imgLoad {
    0% {
        opacity:0;
    }
    30% {
        opacity:1;
    }
    35% {
        opacity:.3;
    }
    100% {
        opacity:1;
    }
}


/* navigation */
@-webkit-keyframes greenPulse {
    0% { background-color: $menu-background-color; }
    10% { background-color: darken($menu-background-color, 15%); }
    20% { background-color: $menu-background-color; }
}
@-webkit-keyframes redPulse {
    0% { background-color: $logo-background-color; }
    100% { background-color: lighten($logo-background-color, 10%); }
}
nav {
    li.item {
        font-weight:bold;
        margin-bottom:$grid-size / 3;
        margin-left:0;
        list-style-type:none;
        a {
            border-top-left-radius:$border-radius;
            display:block;
            height:45px;
            line-height:30px;
            background-size:100%;
            background-color: $menu-background-color;
            color: $text-color;
            padding: 8px 0px 8px 10px;
            text-decoration: none;
            text-shadow: 0 1px 0 #444;
            font-size:80%;
            transition: all .5s linear;
        }
        a.transition:hover, a.active {
            background-color: lighten($menu-background-color, 15%);
        }

        i.fa {
            color:#cca; //lighten($menu-background-color, 20%);
            display:inline-block;
            //tex-align:center;
            width:20px;
        }
    }
    li.logo {
        list-style-type:none; 
        margin-bottom: $grid-size;
        h1 {
            margin-top:0;
            a {
                color: $inverse-text-color;
                border-top-left-radius: 4 * $border-radius;
                text-shadow: 0 1px 0 #000;
                height:190px;
                display:block;
            }
            a:hover {
                -webkit-animation-name: redPulse;
                -webkit-animation-duration: 0.5s;
                background-color: lighten($logo-background-color, 10%);
            }        
        }
    }
}
@media (min-width:1050px) {
    nav {
        margin-left:-40px;
        ul {
            position:fixed;
            width:190px;
            li.logo h1 a {
                background:$logo-background-color url(../images/logo2.png) no-repeat 50% 50%;
                span {
                    display:none;
                }
            }            
        }
    }
}
@media (max-width:1050px) {
    .container .content {
        padding: 30px 10px;
    }    
    nav {
        ul {
            margin:0;
            li.logo h1 a {
                background:$logo-background-color url(../images/logo2.png) no-repeat 96% 50%;
                padding:$grid-size;
                border-radius:0px;
                border-top-left-radius:4*$border-radius;
                font-size: 23px;
                padding-top: 70px;
                span {
                    display:inline-block;
                    margin-top:$grid-size * 2;
                }                
            }
        }
    }
/*     .container .content .image-list .photo-link {
        display:block;
        position:absolute;
        top:0%;
        height:100%;
        border-top-left-radius:0;
        border-bottom-left-radius:0;
    } */
}
@media (min-width:1024px) and (max-width:1050px){
    .large-10 {
        max-width:80%;
    }    
    nav {
        margin-left:-20px;
        ul {
            position:fixed;
            width:190px;
            li.logo h1 a {
                background:$logo-background-color url(../images/logo2.png) no-repeat 50% 50%;
                span {
                    display:none;
                }                
            }            
        }
    }
}    


footer {
    text-align:right;
    color:#000;
    padding-top:$grid-size / 2;
    font-size:small;
    text-shadow: 0 1px 0 #eee;
}


.social-sharer {
    .sharer {
        text-align: center;        
        display:inline-block;
        width:40px;
        height:40px;
        margin:0;
        padding:3px;
        border-radius: 3px;    
        &.fb {
            background:#3b5998;
        }
        &.tw {
            background:#55acee;
        }        
        .fa {
            font-size:large;
            line-height:36px;
            color:#fff;
        }
    }
}

/* section specific */
section.welcome {
    ul.actual {
        li { margin:$grid-size 0px; }
        margin-bottom:$grid-size;
    }

    .cols:after {
        display:table;
        content:'';
        clear:both;
    }
    .columns {
        margin:0;
        padding:0;
        .rakety {
            float:right;
            width:75%;
            margin:2rem 1rem;
            border-radius:$border-radius;
        }
    }
}

section.mkp {
    .row.grey {
        margin-left:0;
        margin-right:0;
        padding-top:$grid-size / 2;
        padding-bottom:$grid-size / 2;
        background:lighten($content-background-color, 20%);
        border-radius:$border-radius;

        &.important {
            background:transparent;
            border:1px solid $content-important-background-color;
        }
    } 
}

section.visits {
    .iframe-wrapper {
        overflow: auto;
        -webkit-overflow-scrolling:touch;
    }
    iframe {
        width:100%;
        height:500px;
        border:0px;
        background-color:transparent;
        border-radius:$border-radius;
    }
}
.mailchimp-form {
    border:5px solid $menu-background-color;
    margin-bottom:$grid-size;
    margin-left:0;
    border-radius:$border-radius;
    line-height:150%;
    background:rgb(39, 47, 35);
    input {
        border-radius:$border-radius;
    }
    button {
        border-radius:$border-radius / 2;
        background:$menu-background-color;
        &:hover, &:active {
            background:$logo-background-color;
        }
    }
}
.row .row {
    margin-left:0;
    margin-right:0;
}

#m {
  width:100%;
  height:400px;
  img {
    max-width:inherit !important;
  }
  table {
    margin-bottom: -1px;
  }
  .card-header a, .card-body a {
    color:$logo-background-color;
    text-decoration: underline;
  }

  .card {
    color:#000;
  }
}
.map-container { position:relative; }
#mo { 
    position:absolute; 
    bottom:0; 
    width:100%; 
    height:100%; 
    background:rgba(20,20,20,.3); 
    //opacity:.1; 
    z-index:1000; 
    text-align:center; 
    font-weight: bold;
    font-size:140%;
    padding-top:40px;
    color:#fff;
    text-shadow: 0px 0px 4px rgba(0,0,0, 1);

}
#map-controls a {
  text-align: center;
  display:block;
  padding:10px;
  background:#34622f;
  color:#fff0dc;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-bottom:2px;
  font-weight: bold;
  &:hover {
    transition:background 0.3s ease-out;
    background-color: #4f9648;
  }
}


.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget iframe {width: 100% !important;}