<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="cs"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>Bunkr Drnov</title>
        <meta name="description" content="Zrušení rezervace - Bunkr Drnov - Muzeum studené války a protivzdušné obrany" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" media="screen,projection,tv" href="./css/main.css" type="text/css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-23003382-1', 'auto');
        </script>
    </head>
    <body class="" ng-app="drnovReservationApp" ng-controller="CancelReservationCtrl as main">
    
    <div class="container cancel-reservation" ng-cloak>

        <div ng-if="main.isValidating" class="loading">
            <i class="fa fa-circle-o-notch fa-spin"></i> Ověřujeme Vaši rezervaci. Bude to jen chvilička...
        </div>

        <div ng-if="!main.isValidating">

            <div ng-if="!main.isValid" class="no-reservation">
                <i class="fa fa-times-circle-o"></i> Ajaj, tato rezervace neexistuje. Možná už je zrušená.
            </div>
            <div ng-if="(main.isValid && main.reservation)">
                <form ng-submit="main.submitCancelReservation()" class="form-reservation">
                    <h3>Zrušení rezervace v Bunkru Drnov</h3>
                    <label>Datum:</label> <span class="date">{{ main.reservation.date.day }}.{{ main.reservation.date.month }} od <b>{{ main.reservation.date.time }}</b></span><br>
                    <label>Počet míst:</label> <span class="slots">{{ main.reservation.slots }}</span><br>
                    <label>Důvod zrušení:</label> <textarea cols="40" rows="3" ng-model="main.reservation.reason" required></textarea><br>
                    <label>&nbsp;</label><button type="submit" class="button button-submit">Zrušit rezervaci</button>
                </form>
            </div>

            <div ng-if="main.reservationFailed" class="error-message">
                <i class="fa fa-exclamation-circle"></i> Ajajaj! nastala nejaka chyba
            </div>

            <div ng-if="main.reservationDone" class="box-message">
                <b>Děkujeme, že jste nám dali vědět.</b> Snad se tedy uvidíme příště...
                <br><br>
                <a href="http://bunkr-drnov.cz/" class="button button-submit">Pokračovat na Bunkr-Drnov.cz</a>
            </div>
        </div>


    </div>


    </body>
    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="./js/main.js"></script>
</html>